:root {
    --main-color: hsl(205, 62%, 59%);
    --alt-color: hsl(201, 83%, 16%);
    --heading-font: 'DM Serif Display', serif;
    --body-font: 'Zen Kaku Gothic Antique', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: var(--body-font);
}